.bikes-list-thumbnail-container {
	display: inline-block;
	vertical-align: top;
	padding: 0px 8px 16px 8px;
	width: 100%;

	/* IE7 */
	*zoom: 1;
	*display: inline;
}

.bikes-list-thumbnail-container .thumbnail {
	position: relative;
	overflow: hidden;
}

.thumbnail-footer {
	padding: 16px;
	background-color: #efefef;
	margin: -16px;
	margin-top: 0;
}

@media (max-width: 639px) {
	.hb-btn-group a {
		padding-left: 8px;
		padding-right: 8px;
		max-width: 72px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

@media (min-width: 640px) {
 	.bikes-list-thumbnail-container {
   		width: 50%;
 	}

	.bikes-list-thumbnail-container .thumbnail {
		height: 400px;
	}

	.thumbnail-footer {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin: 0;
	}
}

@media (min-width: 992px) {
 	.bikes-list-thumbnail-container {
    	width: 33%;
  	}
}

@media (min-width: 1200px) {
 	.bikes-list-thumbnail-container {
   		width: 25%;
 	}
}

.label-top-right {
	position: absolute;
	right: 16px;
	top: 0;
}

.thumbnail-footer .label {
	font-size: 100%;
}

.image-placeholder {
	width: 100%;
	min-height: 200px;
	overflow: hidden;

	text-align: center;
}

.image-placeholder img {
	border: 0;
	max-width: 100%;
	max-height: 240px;
}
