html {
	overflow-x: hidden;
	overflow-y: scroll;
}

html, body, #singlepage-content {
	height: 100%;
}

nav {
	opacity: 0.95;
}

.fix-fixed {
	position: absolute;
	top: 0;
}

/* Prevent body from scrolling to top on modal toggle */
body.modal-open {
	overflow: visible;
}

/* IPhone zoom on search 
input[type="text"], input[type="number"], textarea {
	font-size: 16px;
}*/

#navbar-search, .form-control {
	width: 100% !important;
}

@media (max-width: 639px) {
	/* Optimize for small screens: */
	.page-header {
		margin-top: -20px;
	}

	.page-header > h1 {
		font-size: 200%;
	}

	body {
		min-width: 320px;
	}

	.modal-footer {
		margin-top: 0;
	}

	.modal-body {
		padding-bottom: 0;
	}

	.navbar-form {
		margin: 2px;
	}
}

@media (min-width: 768px) {
	.navbar-form {
		width: 320px;
	}

}

.hb-margin-top-1x {
	margin-top: 16px;
}

.hb-margin-bottom-1x {
	margin-bottom: 16px;
}

.hb-margin-top-2x {
	margin-top: 32px;
}

.hb-margin-bottom-2x {
	margin-bottom: 32px;
}

.hb-line-through {
	text-decoration: line-through;
	text-align: middle;
}


/* Modal from bottom */
.modal.fade.hb-bottom .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, 75%);
      -ms-transform: translate(0, 75%);
          transform: translate(0, 75%);
}

.modal.in.hb-bottom .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.slidein-right {
	position: relative;

	right: -100%;
	-webkit-transition: right 0s ease;
	-moz-transition: right 0s ease;
	-o-transition: right 0s ease;
	-ms-transition: right 0s ease;
	transition: right 0s ease;
}

.slidein-right-go {
	right: 0;

	-webkit-transition: right 0.25s ease;
	-moz-transition: right 0.25s ease;
	-o-transition: right 0.25s ease;
	-ms-transition: right 0.25s ease;
	transition: right 0.25s ease;
}

.slideout-left-go {
	left: -100%;

	-webkit-transition: left 0.25s ease;
	-moz-transition: left 0.25s ease;
	-o-transition: left 0.25s ease;
	-ms-transition: left 0.25s ease;
	transition: left 0.25s ease;
}

@media (max-width: 767px) {
	.hb-navbar-brand-center {
		position: absolute;
		left: 64px;
		right: 64px;

		text-align: center;
	}
}

.hb-navbar-btn, .hb-navbar-btn:hover {
	margin-right: 0;
	color: #ccc;
	border: none;
	background-color: transparent !important;
}

.hb-navbar-btn .icon-bar {
	background-color: #efefef !important;
}

.hb-navbar-btn.pull-left {
	margin-right: 16px;
}

.hb-text-overflow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hb-center-inline {
	text-align: center;
}

#scroll-top {
	position: fixed;
	bottom: 62px;
	right: 8px;
}

@media (max-width: 767px) {
	#scroll-top {
		bottom: 8px;
	}
}
