html {
	overflow-x: hidden;
}

body {
	/* Fix static navbar */
	margin-top: 70px;
	margin-bottom: 70px;
}

nav {
	opacity: 0.95;
}

.fix-fixed {
	position: absolute;
	top: 0;
}

#navbar-search, .form-control {
	width: 100% !important;
}

@media (max-width: 639px) {
	/* Optimize for small screens: */
	.page-header {
		margin-top: 0px;
	}

	body {
		min-width: 320px;
		margin-top: 50px;
	}

	.page-header h1 {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.modal-footer {
		margin-top: 0;
	}

	.modal-body {
		padding-bottom: 0;
	}

	.navbar-form {
		margin: 2px;
	}
}

@media (min-width: 640px) {
	.navbar-form {
		width: 320px;
	}

}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

.btn-margin {
	margin-top: 32px;
}


/* Modal from bottom */
.modal.fade.bottom .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
     -moz-transition:    -moz-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, 75%);
      -ms-transform: translate(0, 75%);
          transform: translate(0, 75%);
}

.modal.in.bottom .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.slidein-right {
	position: relative;

	right: -100%;
	-webkit-transition: right 0s ease;
	-moz-transition: right 0s ease;
	-o-transition: right 0s ease;
	-ms-transition: right 0s ease;
	transition: right 0s ease;
}

.slidein-right-go {
	right: 0;

	-webkit-transition: right 0.25s ease;
	-moz-transition: right 0.25s ease;
	-o-transition: right 0.25s ease;
	-ms-transition: right 0.25s ease;
	transition: right 0.25s ease;
}


.slideout-left-go {
	left: -100%;

	-webkit-transition: left 0.25s ease;
	-moz-transition: left 0.25s ease;
	-o-transition: left 0.25s ease;
	-ms-transition: left 0.25s ease;
	transition: left 0.25s ease;
}
