.hb-navbar-transparent {
	opacity: 0.95;
}

#navbar-search, .form-control {
	width: 100% !important;
}

@media (max-width: 767px) {
	.hb-navbar-brand-center {
		position: absolute;
		left: 64px;
		right: 64px;

		text-align: center;
	}
}

.hb-navbar-btn, .hb-navbar-btn:hover {
	margin-right: 0;
	color: #ccc;
	border: none;
	background-color: transparent !important;
}

.hb-navbar-btn .icon-bar {
	background-color: #efefef !important;
}

.hb-navbar-btn.pull-left {
	margin-right: 16px;
}

.hb-navbar-secondary {
	background-color: #fff;
	opacity: 1;
	border-radius: 0;
	border-top: 1px solid #cccccc;
	margin: 0;
}

@media (min-width: 768px) {
	.hb-navbar-secondary {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
