html.start-page {
	height: 100%;
}

.start-page body, .start-page #singlepage-content, .start-page #singlepage-content > .container {
	height: 100%;
}

#start-background {
	position: absolute;
	top: 0;

	z-index: -1;

	background: url(/img/start-background.jpg) no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#start-background, #start-page-1, #start-page-2 {
	height: 100%;
	width: 100%;
	min-height: 480px;
}

#start-page-2 {
	padding-top: 70px;
}


.start-page .jumbotron {
	color: #efefef;
	background-color: transparent;
}

@media (max-width: 767px) {
	/* Optimize for small screens: */
	#start-page-1, #start-page-2 {
		padding-top: 50px;
	}
}

@media (min-width: 768px and max-width: 1023px) {
	.#start-page-1 jumbotron {
		max-width: 60%;
	}
}
