.hb-jumbotron-transparent {
	background-color: transparent;
	color: #2c2c2c;
}

@media (max-width: 767px) {
	/* Optimize for small screens: */
	#start-page-1, #start-page-2 {
		padding-top: 50px;
	}

	.hb-jumbotron-transparent p {
		color: #ababab;
	}
}

@media (min-width: 768px and max-width: 1023px) {
	.#start-page-1 .hb-jumbotron-transparent {
		max-width: 60%;
	}
}
