.carousel-control, .carousel-control:hover {
	text-shadow: none;
	opacity: 1;
	color: #4c4c4c;
}

.carousel-control.right, .carousel-control.left {
	background-image: none;
}

#bikes-detail-highlight {
	border: none;
}

#bikes-detail-highlight td {
	vertical-align: middle;
	border: none;
}

#bikes-detail-highlight .label {
	font-size: 100%;
}

.modal-dialog-fs, .modal-dialog-fs img {
	width: 100%;
	height: 100%;
	margin: 0;
}

.modal-dialog-fs .modal-content {
	border-radius: 0;
	border: none;
}
